*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body{
    line-height: 1.1;
    background-color: white;
    font-family: monospace;
}

h1{
    font-size:clamp(2.5rem, 4.6vw,3.5rem);
    font-weight: 700;
    color: #f59e0b;
    width:100%;
    text-align: left;
     padding-left:clamp(1rem, 5vw,9rem);
     max-width: 700px;
}

h2{
    font-size: 2.5rem;
    font-weight: 700;
}

h3{
    font-size: 2rem;
    font-weight: 600;
}

p{
    font-size: clamp(1.15rem,1.2vw,2rem);
}
.hero p{
    width: 100%;
    text-align: left;
    color:#fff;
    padding-left:clamp(1rem, 5vw,9rem);
    max-width: 700px;
}

.hero-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem ;
    margin-top:clamp(1rem, 9vh,20rem);
    padding-left:clamp(1rem, 5vw,9rem);
}


button{
    background-color: #111827;
    color: white;
    padding: 1rem 2rem;
    border-radius: .75rem;
    font-size:clamp(.75rem, 5vw, 1rem);
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
}

button:hover{
    color: #f59e0b;
    text-decoration: underline;
}
.btn1:hover{
    color: white;
    text-decoration: underline;
}

.btn1{
    background-color: #f59e0b;
}

card{
    transition: all .3s ease;
}

.logo{
    font-family:cursive;
    font-size: 2rem;
    font-weight: 500;
    color: #f59e0b;
}

header nav{
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    gap: 3rem;
    align-items: center;
}

header nav a:hover{
    color: #f59e0b;
    background-color: #111827;
}

header nav a{
        text-decoration: none;
        padding: .75rem 1.25rem;
        border-radius: 1rem;
        transition: all .4s ease;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    margin-top: 2rem;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
}

.hamburger{
        display: none;
    }

    .show{
        display: flex;
    }

    .hero{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content:start;
        align-items: start;
        background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.9)), url(images/tolu-olubode-PlBsJ5MybGc-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 90vh;
        padding-top:clamp(1rem, 8vh,9rem);
    }

@media( max-width:768px) {

    html{
        font-size: 87.5%;
    }

    .hero {
        padding-top: 11rem;
    }
    header nav{
        display: none;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        top: 4rem;
        right: 0;
        background-color: whitesmoke;
         padding: 1rem 2rem;
         border-radius: 1rem;
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        gap: .3rem;
        position:absolute;
        cursor: pointer;
        top: 1.4rem;
        right: 3.5rem;
    }
    
    .hamburger span{
        display: block;
        width: 30px;
        height: 4px;
        background-color: black;
    }
}

@media(max-width:480px) {
    html{
        font-size: 75%;
    }
}

.stats{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap:2rem ;
    text-align: center;
    padding: 6rem 8%;
}

.stat{
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
}

.counter{
    font-size:3rem;
    font-weight: bold;
    color:#f59e0b;
}

.stat p{
    margin-top: 5rem;
    color: #555;
}

.slider p{
    color: #f59e0b;
    font-size: 2.5rem;
}

.slides{
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
    margin-top: 4rem;
}

.slider{
    display: inline-block;
    gap: 3rem;
    padding-left: 100%;
    animation: slide 15s linear infinite;
}

@keyframes slide{
    from{transform: translateX(0);}
    to{
        transform: translateX(-100%);
    }
}